/* change DoAna image size in the title slide */
.title-slide img {
  max-width: 15%;
}

/* center images */
img {
  margin: auto;
  display: block;
}

/* Global background */
.remark-container {
  background: #000;
}

/* Principal text color */
body {
  color: #003f5d; 
}

/* principal background color */
.remark-slide-content {
  background-color: #effff7;
}

/* inverse slides colors */
.inverse {
  background-color: #057d9b;
  text-shadow: none;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #c9dd72;
}

/* title slides colors */
.title-slide {
  background-color: #c9dd72;
  text-shadow: none;
}

.title-slide h1 {
  color: #057d9b;
}

.title-slide h2, .title-slide h3 {
    color: #003f5d;
}



/* links */
a, a > code {
  color: inherit;
}

a:hover, a:focus {
  color: #df4903;
}

a:before {
  content: "{";
  font: 1.1em bold;
  color: #df4903;
}

a:after {
  content: "}";
  font: 1.1em bold;
  color: #df4903;
}

.remark-toolbar-link:before, .remark-toolbar-link:after {
  content: none;
}

 


/* word wrapping in code */
pre {
  white-space: pre-wrap;
  
}

/* code color */
.hljs-default .hljs {
  background: #c9dd72;
  color: inherit;
  border-radius: 3px;
}

.hljs-default .hljs-keyword, .hljs-default .hljs-selector-tag, .hljs-default .hljs-subst {
  color: #df4903;
}
.hljs-default .hljs-comment, .hljs-default .hljs-quote {
  color: #057d9b;
}
.hljs-default .hljs-string, .hljs-default .hljs-doctag {
  color: #17930d;
}
.hljs-default .hljs-number, .hljs-default .hljs-literal, .hljs-default .hljs-variable, .hljs-default .hljs-template-variable, .hljs-default .hljs-tag, .hljs-default .hljs-attr {
  color: #df4903;
}

.remark-code-line {
  padding: 0 10px 0 10px;
}

.remark-code-line-highlighted {
  background-color: #9fb540; 
  border-radius: 3px;
  font-weight: bold;
}

.hljs-default .hljs-number {
  color: #df4903;
}

/* inline code*/
.remark-inline-code{
  color: #df4903;
  font-size: 90%;
}


/* Horizontal rules */
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #003f5d, #effff7);
  margin-bottom: 20px;
}


h2 {
  margin-bottom: 10px;
}

/* Bullets in lists > \f054 bullet \2022 
ul > li:before {
  content: '>'; 
}*/

/* Tables */
 


.remark-slide table {
  border-top: 0;
  border-bottom: 2px solid #003f5d;
  border-collapse: collapse;
  font-size: 60%;
}

.remark-slide table thead th {
  border-bottom: 2px solid #003f5d;
  font-weight: normal;
  font-size: 120%;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { 
  background: transparent
}

th, td {
  padding: 5px 15px 5px 15px;
}


/* Quotes */
blockquote > p {
  background: #057d9b;
  color: #c9dd72;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

blockquote {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}



/* remove slide number in the title slide */
.title-slide .remark-slide-number {
  display: none;
}

.remark-slide-number {
  color: #c9dd72;
  opacity: 1;
  bottom: 10px;
}

/* remove footer in the inverse slide */
.inverse .my-footer {
  display: none;
}



